{{> menu}}
<section>
	<nav class="nav nav-pills nav-stacked"></nav>
	<div id="wrap">
		<ul id="tabs"></ul>
		<div id="editor"></div>
	</div>
</section>
<footer>
	<small class="pull-right">
		FrappEditor v{{version}} &nbsp;|&nbsp; Daniel Esteban Nombela {{i 'copyright-mark'}} {{year}} &nbsp;|&nbsp; {{L 'underGPL'}}
	</small>
	<span class="status"></span>
</footer>
{{> newItem}}
{{> open}}
